{% extends 'layouts/layout.html' %}

{% block content %}
{% load static %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Recoleccion de Leche</h2>
      <p>Seccion para agregar productor con minimo una finca</p>
    </div>
    <form method="post" class="php-email-form">
    {% csrf_token %}
    <div class="row">

        <div class="col-lg-6">
          <div class="form-group">
            <h2>Datos Finca</h2>
          </div>
          
          
        
        </div>

      <div class="col-lg-6">
        
          <div class="form-group">
            <h2>Datos Recoleccion</h2>
          </div>
          <div class="form-group mt-3">
            <input placeholder="productor" type="text" value="{{fincaE.productor}}" class="form-control" name="productorf" id="productorf" disabled>
          </div> 
          <div class="form-group mt-3">
            <select name="fincaf" class="form-control">
              {% for finca in fincas %}
                <option value="{{finca.pk}}" {% if finca.pk == fincaE.pk %} selected {% endif %} >{{finca.nombre}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group mt-3">
            <select name="recolectorf" class="form-control">
              {% for recolector in recolectores %}
                <option value="{{recolector.pk}}" >{{recolector.nombres}} {{recolector.apellidos}}</option>
              {% endfor %}
            </select>
          </div>
          
          <div class="form-group mt-3">
            <input placeholder="Cantidad*" type="text" class="form-control" name="cantidadf" id="cantidadf" required>
          </div>
          <div class="form-group mt-3">
            <textarea placeholder="novedad" class="form-control" name="novedadf" rows="5" ></textarea>
          </div>
          <div class="text-center"><button type="submit"><i class="bi bi-cart2"></i> Agregar</button></div>      
        
      </div>
      
      {% comment %} <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>
      </div> {% endcomment %}
    </div>
  </form>
  </div>
</section><!-- End Contact Section -->

{% endblock%}