{% extends 'layouts/layout.html' %}

{% block content %}
{% load static %}

<script>
  function eliminarProducto(id, gid=null){
      Swal.fire({
          "title":"¿Estas seguro?",
          "text":"esta acción no se puede deshacer",
          "icon":"question",
          "showCancelButton":true,
          "cancelButtonText":"No , Cancelar",
          "confirmButtonText":"Si , Eliminar",
          //"reverseButtons": true,
          "confirmButtonColor":"#D91B5D"
      })
      .then(function(result){
          if(result.isConfirmed){
              window.location.href = "http://"+window.location.host+"/recibo/delete/"+id
          }
      })
  }
</script>

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Editar Finca</h2>
      <p>Seccion para editar o eliminar el productor</p>
    </div>
    <form method="post" class="php-email-form">
    {% csrf_token %}
    <div class="row">

      <div class="col-lg-6">
        
        <div class="form-group">
          <img src="{% static 'assets/img/reco1.jpeg' %}" class="img-fluid" alt="">
        </div>
        
        
        
      
    </div>

        <div class="col-lg-6">
          <div class="form-group">
            <h2>Facturas de Recoleccion</h2>
          </div>
          <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"># Litros</th>
                <th scope="col">Precio Litro</th>
                <th scope="col">Precio Total</th> 
              </tr>
            </thead>
            <tbody class="table-group-divider">
                {%for litro in litros%}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ litro.cantidad}}</td>
                    <td>{{ 7000 }}</td>
                    <td>{{ litro.precioLitro}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <div class="text-center"><button type="submit"><i class='bx bx-edit me-1' ></i>Editar</button>
            <a class="btn btn-outline-danger rounded-pill"  onclick="eliminarProducto({{productor.pk}})" role="button" aria-expanded="false" aria-controls="collapseExample"><i class='bx bx-trash me-1' ></i>Eliminar</a>
            </div>
        </div>

        
      </div>
      {% comment %} <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>
      </div> {% endcomment %}
    </div>
  </form>
  </div>
</section><!-- End Contact Section -->

{% endblock%}