{% extends 'layouts/layout.html' %}

{% block content %}
{% load static %}
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Finca {{finca.nombre}} </h2>
        <p>Recoleccion</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
        <div class="swiper-wrapper">
            
            {% for recoleccion in recolecciones %}

          <div class="swiper-slide">
            <div class="testimonial-item">
              
              <h3>Litros: {{recoleccion.cantidad}}</h3>
              <h4>Novedad: {{recoleccion.novedad}}</h4>
              <h4>Finca: {{finca.nombre}}</h4>
              <p>
                <i class='bi bi-cash-coin' ></i> <a href="{% url 'recibosrecoleccion' recoleccion.pk %}" class="get-started-btn">Ver Factura</a><br>
              </p>
            </div>
        </div>

            {% endfor %}

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
  {% endblock%}