{% extends 'layouts/layout.html' %}

{% block content %}
{% load static %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Recolectores</h2>
      <p>Seccion para agregar un Recolector</p>
    </div>
    <form method="post" class="php-email-form">
    {% csrf_token %}
    <div class="row">

        <div class="col-lg-6">
          <div class="form-group">
            <h2>Datos Recolector</h2>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Cedula*" type="text" class="form-control" name="cedula" id="cedula" required>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Nombres*" type="text" name="nombre" class="form-control" id="nombre" required>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Apellidos*" type="text" class="form-control" name="apellido" id="apellido" required>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Telefono*" type="text" class="form-control" name="telefono" id="telefono" required>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Direccion*" type="text" class="form-control" name="direccion" id="direccion" required>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Fecha nacimiento*" type="date" class="form-control" name="fnacimiento" id="fnacimiento" min="2005-01-01" required>
          </div>
          <div class="text-center"><button type="submit">Agregar</button></div>
        
        </div>

      <div class="col-lg-6">
        
          <div class="form-group">
            <img src="{% static 'assets/img/reco1.jpeg' %}" class="img-fluid" alt="">
          </div>        
      </div>
      
      {% comment %} <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>
      </div> {% endcomment %}
    </div>
  </form>
  </div>
</section><!-- End Contact Section -->

{% endblock%}