{% extends 'layouts/layout.html' %}

{% block content %}
{% load static %}

<script>
  function eliminarProducto(id, gid=null){
      Swal.fire({
          "title":"¿Estas seguro?",
          "text":"esta acción no se puede deshacer",
          "icon":"question",
          "showCancelButton":true,
          "cancelButtonText":"No , Cancelar",
          "confirmButtonText":"Si , Eliminar",
          //"reverseButtons": true,
          "confirmButtonColor":"#D91B5D"
      })
      .then(function(result){
          if(result.isConfirmed){
            window.location.href = "http://"+window.location.host+"/productor/delete/"+id
          }
      })
  }
</script>

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Editar Productor</h2>
      <p>Seccion para editar o eliminar el productor</p>
    </div>
    <form method="post" class="php-email-form">
    {% csrf_token %}
    <div class="row">

      <div class="col-lg-6">
        
        <div class="form-group">
          <img src="{% static 'assets/img/reco1.jpeg' %}" class="img-fluid" alt="">
        </div>
        
        
        
      
    </div>

        <div class="col-lg-6">
          <div class="form-group">
            <h2>Datos Productor</h2>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Cedula*" type="text" value="{{productor.cedula}}" class="form-control" name="cedula" id="cedula" required>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Nombres*" type="text" value="{{productor.nombres}}" name="nombre" class="form-control" id="nombre" required>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Apellidos*" type="text" value="{{productor.apellidos}}" class="form-control" name="apellido" id="apellido" required>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Telefono*" type="text" value="{{productor.telefono}}" class="form-control" name="telefono" id="telefono" required>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Direccion*" type="text" value="{{productor.direccion}}" class="form-control" name="direccion" id="direccion" required>
          </div>
          <div class="form-group mt-3">
            <input placeholder="Fecha nacimiento*" type="date" value="{{fecha_nacimiento|date:'Y-m-d'}}" class="form-control" name="fnacimiento" id="fnacimiento" min="2005-01-01" required>
          </div>

        <div class="text-center"><button type="submit">Editar</button>
        <a class="btn btn-primary me-1" onclick="eliminarProducto({{productor.pk}})" role="button" aria-expanded="false" aria-controls="collapseExample"><i class='bx bx-edit me-1' ></i>Eliminar {{productor.pk}}</a>
        </div>    
      </div>
      {% comment %} <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>
      </div> {% endcomment %}
    </div>
  </form>
  </div>
</section><!-- End Contact Section -->

{% endblock%}