{% extends 'layouts/layout.html' %}

{% block content %}
{% load static %}
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Productores</h2>
        <p>En el carrucel encontrara los productores que estan en el sistema</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
            
            {% for productor in productores %}

          <div class="swiper-slide">
            <div class="testimonial-item">
              
              <h3>{{productor.nombres}} {{productor.apellidos}}</h3>
              <h4>C.C {{productor.cedula}}</h4>
              <p>
                <i class='bx bx-show'></i> <a href="{% url 'fincas' productor.pk  %}" class="get-started-btn">Ver Fincas</a><br>
                <i class='bx bxs-edit-alt' ></i> <a href="{% url 'verproductor' productor.pk %}" class="get-started-btn">Ver Informacion</a>
              </p>
            </div>
        </div>

            {% endfor %}

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
  {% endblock%}