{% extends 'layouts/layout.html' %}


{% block content %}
{% load static %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success">
        <script>
          Swal.fire({
            "title":"Felicitaciones",
            "text":"{{message}} ",
            "icon":"success",
            "confirmButtonColor":"#D91B5D"
          })
        </script>
      </div>
    {% endfor %}
{% endif %}


<!-- ======= App Features Section ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="section-title">
      <h2>Bienvenido</h2>
      <p>Sistema de administracion de lacteos, donde se podran registrar recolectores, productores, pedidos de leche y ver las facturas de cada pedido.</p>
    </div>
    
    <div class="row no-gutters">
      <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
        <div class="content d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 icon-box" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>Recolector</h4>
              <p>Sera el encargado de hacer las recolecciones de leche y para su registro se deben diligenciar unicamente los datos personales.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-cube-alt"></i>
              <h4>Productor</h4>
              <p>Sera quien haga un pedido de leche y para su registro se deben diligenciar sus datos personales y al menos una finca.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-images"></i>
              <h4>Finca</h4>
              <p>Cada finca debera estar relacionada con un productor y para registrarla se necesitan unicamente el nombre de la finca, direccion y telefono.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-shield"></i>
              <h4>Facturas</h4>
              <p>Se podran visualizar las facturas en cada finca seleccionada segun los pedidos realizados.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-atom"></i>
              <h4>Novedad</h4>
              <p>En cada pedido realizado se puede presentar una novedad la cual se va a ver reflejada al momento de gestionar las facturas</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-id-card"></i>
              <h4>Modificar Datos</h4>
              <p>Se podra editar o eliminar los datos de los Recolectores, Productores y fincas.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="assets/img/features.svg" class="img-fluid" alt="">
      </div>
    </div>

  </div>
</section><!-- End App Features Section -->

{% endblock%}