{% extends 'layouts/layout.html' %}

{% block content %}
{% load static %}
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Fincas de {{productor.nombres}} {{productor.apellidos}}</h2>
        <p>En el carrucel encontrara las fincas que estan en el sistema</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
            
            {% for finca in fincas %}

          <div class="swiper-slide">
            <div class="testimonial-item">
              
              <h3>{{finca.nombre}}</h3>
              <h4>Direccion {{finca.direccion}}</h4>
              <p>
                <i class='bx bxs-edit-alt' ></i> <a href="{% url 'verfinca' finca.pk %}" class="get-started-btn">Ver Informacion</a><br>
                <i class='bx bxs-add-to-queue'></i> <a href="{% url 'agregarfinca' productor.pk %}" class="get-started-btn">Agregar finca</a><br>
                <i class='bx bx-water' ></i> <a href="{% url 'agregarrecoleccion' finca.pk %}" class="get-started-btn">Agregar pedido</a><br>
                <i class='bx bx-water' ></i> <a href="{% url 'verrecoleccion' finca.pk %}" class="get-started-btn">ver pedido</a>
              </p>
            </div>
        </div>

            {% endfor %}

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->
  {% endblock%}